// Import font DM Sans (Solo pesi necessari per performance)
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,700;0,9..40,900;1,9..40,400&display=swap');

// Variabili Colore
$neon-green: #39FF14;
$pure-black: #000000; /
$dark-grey: #121212;
$text-white: #ffffff;
$text-dark: #1a1a1a;

// Override Bootstrap Variables
$primary: $neon-green;
$body-bg: $pure-black;
$body-color: $text-white;
$font-family-sans-serif: 'DM Sans', sans-serif;